MYSQL_ROOT_PASSWORD=strong_root_password
MYSQL_DATABASE=videostats
MYSQL_USER=videostats
MYSQL_PASSWORD=storng_db_user_password
MYSQL_HOST=mysql
MYSQL_PORT=7802
COOKIES='cookie: bci=xxxxxxxxxxxxxxxxxxx; _statid=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx; viewport=xxxx; tmr_lvid=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx; tmr_lvidTS=xxxxxxxxxxxxx; AUTHCODE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx; JSESSIONID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx; LASTSRV=xxxxx; msg_conf=xxxxxxxxxxxxxxxx; TZ=x; CDN=; _flashVersion=x; nbp=; tmr_reqNum=x; tmr_detect=xxxxxxxxxxxxxxxxx; TZD=xxxxx; TD=xxx'
